.navigation {
    width: 70%;
    float: right;
    &__list {
        list-style: none;
        float: right;
        margin: 3rem;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-white;
            font-size: $font-size-default;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-bottom: .5rem;
            @include transition-regular;
        }
        &:hover,
        &:active {
            color: $color-secondary-yellow-regular;
            border-bottom: 3px solid $color-secondary-yellow-regular;
            transform: translateY(-3px);
            box-shadow: 0 1rem 3rem rgba($color-black, .2);
            background: transparent;
        }
    }
}