.btn {
    padding: 1rem 2rem;
    background: $color-secondary-yellow-regular;
    border: none;
    cursor: pointer;
    color: $color-primary-blue-regular;
    font-size: $font-size-default;
    position: relative;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .3s;
    &:hover {
        box-shadow: 0 1rem 3rem rgba($color-black, .5);
        transform: translateY(-3px);
        &::after {
            transform: translate(-50%, -50%) scale(3);
            opacity: 0;
            visibility: hidden;
        }
    }
    &:focus {
        outline: none;
        @include boxshadow-regular;
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        padding: 1rem 2rem;
        background: $color-secondary-yellow-regular;
        border-radius: 5px;
        transition: all .3s;
    }
}