*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    @include respond(desktop-big) {
        font-size: 70%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 43.75%;
    }
}

body {
    padding: 3rem;
    padding-bottom: 0;
    box-sizing: border-box;

    @include respond(tab-port) {
        padding: 0;
    }
}

main {
    margin-top: -20vh;
}
